*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px
}

body {
  box-sizing: border-box;
  width: 80vw;
  min-width: 114rem;
  height: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}